@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v16-latin-300.woff2') format('woff2'),
       url('../fonts/open-sans-v16-latin-300.woff') format('woff');
}

body {
	background: url(../images/background.png) repeat-y #000;
	color: #FEFEFE;
	font-family: 'Open Sans', sans-serif;
	margin-left: 100px;
	margin-top: 160px;
}

h1 {
	-moz-animation: honeycomb 12s infinite;
	-webkit-animation: honeycomb 12s infinite;
	animation: honeycomb 12s infinite;
	color: #4F7E46;
	letter-spacing: -0.08em;
	margin-bottom: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 2em;
	margin-top: 0;
}

a {
	color: #FEFEFE;
	text-decoration: none;
}

ul {
	font-size: 0.9em;
	list-style: none;
	padding: 0;
}

h2, ul {
	text-shadow: 0 0 1px #FEFEFE;
}

@-moz-keyframes honeycomb {
	0% {color: #451D14}
	20% {color: #753021}
	40% {color: #AE673D}
	60% {color: #DCBD6F}
	80% {color: #4F7E46}
	100% {color: #451D14}
}

@-webkit-keyframes honeycomb {
	0% {color: #451D14}
	20% {color: #753021}
	40% {color: #AE673D}
	60% {color: #DCBD6F}
	80% {color: #4F7E46}
	100% {color: #451D14}
}

@keyframes honeycomb {
	0% {color: #451D14}
	20% {color: #753021}
	40% {color: #AE673D}
	60% {color: #DCBD6F}
	80% {color: #4F7E46}
	100% {color: #451D14}
}
